@keyframes slide {
    0% {
        background-position: 0 10%;
    }
    100% {
        background-position: 0 100%;
    }
}

#hero article:first-child {
    background: url('/assets/brand/TextBackgroundIndex.svg');
    background-size: 100%;
    background-position: bottom;
    background-repeat: repeat-y;
    animation: slide 1s linear infinite;   
}