@keyframes slide {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 100%;
    }
}

#hero article:first-child {
    background: url('/assets/brand/TextBackgroundIndex.svg');
    background-size: auto;
    background-position: center;
    background-repeat: repeat-y;
    animation: slide 4500ms linear infinite;
}